@import "../reset.scss";

.wrap {
	display: flex;
	margin: 0 auto;
	max-width: 960px;
	div {
		padding-top: 20px;
	}
	.menu {
		width: 96px;
		background: #fa0;
		line-height: 1.5em;

		ul {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		li {
			justify-content: center;
		}
	}
	.list {
		width: 90%;
		ul {
			display: flex;
			flex-wrap: wrap;
			// margin: 1% 1%;
			li {
				display: flex;
				flex-direction: column;
				box-sizing: border-box;
				padding: 0 2%;
				width: 31.33333%;
				img {
					align-self: center;
					padding: 1em;
					width: 50%;
					border-radius: 50%;
				}
				h3 {
					padding: 1% 0;
					font-size: 24px;
				}
				p {
					line-height: 1.5em;
				}
			}
		}
	}
	// @media (max-width: 768px) {
	// 	.list {
	// 		ul {
	// 			li {
	// 				width: 48%;
	// 			}
	// 		}
	// 	}
	// }
	// @media (max-width: 576px) {
	// 	display: block;
	// 	div {
	// 		padding: 20px 0;
	// 	}
	// 	.menu {
	// 		width: 100%;
	// 	}
	// 	.list {
	// 		ul {
	// 			li {
	// 				width: 98%;
	// 			}
	// 		}
	// 	}
	// }
}

@import "../mobile.scss";
