body {
	header {
		nav {
			@media (max-width: 767px) {
				h1 {
					align-self: center;
					max-width: 100%;
				}
				ul {
					flex-wrap: wrap;
					li {
						margin-left: 0;
						padding: 10px 0;
						width: (100% / 2);
						height: auto;
						a:hover {
							padding: 0px 0px;
							background: #00cc99;
							color: #fff;
						}
					}
				}
			}
		}
	}
	main {
		@media (max-width: 767px) {
			align-items: center;
			flex-direction: column;
			article {
				padding: 2% 5%;
				max-width: 98%;
			}
		}
	}
}
