@import "../module/reset.scss";
@import "../module/border-box.scss";

body {
	margin: 0 auto;
	max-width: 1000px;
	line-height: 1.5em;
	img {
		max-width: 100%;
		height: auto;
	}
	header {
		margin-top: 2%;
		max-width: 100%;
		div {
			padding: 0 1%;
		}
		.social {
			display: flex;
			justify-content: end;
			// width: 100%;
			a {
				text-decoration: none;
			}
			.fb {
				margin-right: 5px;
				img {
					padding-right: 2px;
				}
			}
			img {
				vertical-align: text-top;
			}
		}
		nav {
			display: flex;
			justify-content: space-between;
			padding: 0 1%;
			ul {
				display: inline-flex;
				align-items: center;
				.index {
					border-bottom: 3px solid;
				}
				li {
					margin-left: 20px;
					a {
						padding: 9.5px 0;
						color: #00cc99;
						text-decoration: none;
					}
					a:hover {
						padding: 9.5px 10px;
						background: #00cc99;
						color: #fff;
					}
				}
			}
			h1 {
				overflow: hidden;
				width: 170px;
				height: 36px;
				background: url(/2-3-18/images/logo.png) no-repeat;
				text-indent: 101%;
				white-space: nowrap;
			}
		}
	}
	main {
		display: flex;
		margin-top: 2%;
		max-width: 100%;
		line-height: 2;
		article {
			display: flex;
			flex-flow: column nowrap;
			margin: 0 1%;
			padding: 1% 1%;
			max-width: 31.33333%;
			box-shadow: 3px 3px 10px -5px;
			img {
				margin: 0 auto;
			}
			h2 {
				text-align: center;
				font-size: 20px;
			}
			p {
				line-height: 1.5;
			}
		}
	}
}
@import "mobile.scss";
