body {
	nav {
		@media (max-width: 767px) {
			h1 {
				max-width: 100%;
			}
			ul {
				flex-wrap: wrap;
				li {
					max-width: (100% / 2);
				}
			}
		}
	}
	main {
		@media (max-width: 767px) {
			align-items: center;
			flex-direction: column;
			article {
				padding: 2% 5%;
				max-width: 98%;
			}
		}
	}
}
