.wrap {
	@media (max-width: 768px) {
		.list {
			ul {
				li {
					width: 48%;
				}
			}
		}
	}
	@media (max-width: 576px) {
		display: block;
		div {
			padding: 20px 0;
		}
		.menu {
			width: 100%;
			line-height: 0.5em;
			ul {
				flex-direction: row;
				justify-content: space-around;
			}
			li {
				width: 100%;
				text-align: center;
			}
		}
		.list {
			width: 100%;
			ul {
				li {
					width: 98%;
				}
			}
		}
	}
}
